
.heading {
    text-decoration: underline;

}


.chatBubble.me {

    border-radius: 20px;
    border-color: black;
    background-color: aquamarine;
    padding: 1.5rem;
    width: fit-content;
    margin-top: 1.5rem;

}

.chatBubble.other {

    border-radius: 20px;
    border-color: black;
    background-color: palevioletred;
    padding: 1.5rem;
    width: fit-content;
    margin-top: 1.5rem;

}

